body {
	margin: 0 auto;
	max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:white;
	grid-gap: 3em;
	padding: 1em;
	text-align: center;
}
#heading{
    text-align: center;
    background-color: #3C6A75;
    width: 100%;
}
#heading img {
    max-width: 10%;
    float: center;
}
#title {
    padding: 5px;
    font-size:xx-large;
}
body {
    align-items: center;
}
.active {
    background-color: #3C6A75;
}
nav {
    margin : 0 auto;
    max-width: 360px;
    background-color: #76B2C2;
}
.responsive {
    display: block;
}
#navigation {
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: auto;
}
#navigation li:first-child {
    display: block;
}
#navigation li{
    display:none;
}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#navigation a:hover{
    color:white;
    background-color: black;
}
#ban {
    background-color: #fcce36;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: hidden;
    grid-template-columns: auto;
    position: sticky;
    top: 0;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    max-width: 100%;
    padding: 10px;
}
.hidden {
    display: none;
}
.responsive {
    display:block;
}
#pictures {
    display: block;
}
#pictures div {
    display: grid;
}
figcaption {
    background-color:  #76B2C2;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
img {
    width: 100%;
    height:100%;
    align-items: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#boxes {
    display: grid;
    grid-template-rows: auto auto auto auto;
}
main {
    text-align: center;
}
.middle {
    margin: 0 auto;
}
footer{
    background-color: #3C6A75;
}
#footergrid {
    text-align: center;
    max-width: 100%;
    text-align: center;
    list-style: none;
    padding:0;
}
#contact {
    grid-column: 2/3;
    grid-row: 1/2;
}
footer img {
    grid-column: 1/2;
    grid-row: 1/2;
}
.footerBar {
    grid-column: 1/3;
    grid-row: 2/3;
}

/*medium size */
@media only screen and (min-width:34.5em){
    nav{
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(6, auto);
        max-width: 1200px;
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
        text-align: center;
    }
    #navigation li:first-child {
        display:none;
    }
    .hidden {
        display: none;
    }
    #pictures {
        display: grid;
        grid-template-columns: 1fr 1fr;    }
    img {
        width: 100%;
        height:100%;
        align-items: center;
    }
    #img1 {
        margin: 10px;
        grid-column: 1;
        background-color: lightgray;
    }
    #img2 {
        margin: 10px;
        grid-column: 2;
        background-color: lightgray;
    }
    #img3 {
        margin: 10px;
        grid-column: 1;
        background-color: lightgray;
    }
    #img4 {
        margin: 10px;
        grid-column: 2;
        background-color: lightgray;
    }
    #img5 {
        margin: 10px;
        grid-column: 1;
        background-color: lightgray;
    }
    #img6 {
        grid-column: 2;
        margin: 10px;
        background-color: lightgray;
    }
    #img7 {
        grid-column: 1;
        margin: 10px;
        background-color: lightgray;
    }
    #img8 {
        grid-column: 2;
        margin: 10px;
        background-color: lightgray;
    }
    #img9 {
        grid-column: 1;
        margin: 10px;
        background-color: lightgray;
    }
    #footergrid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

/*full size */
@media only screen and (min-width: 54.5em){
    #navigation, main {
        width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 100%;
        height:100%;
        align-items: center;
    }
    #img1 {
        margin: 10px;
        grid-column: 1;
        grid-row:1;
        background-color: lightgray;
    }
    #img2 {
        margin: 10px;
        grid-column: 2;
        grid-row:1;
        background-color: lightgray;
    }
    #img3 {
        margin: 10px;
        grid-column: 3;
        grid-row:1;
        background-color: lightgray;
    }
    #img4 {
        margin: 10px;
        grid-column: 1;
        grid-row: 2;
        background-color: lightgray;
    }
    #img5 {
        margin: 10px;
        grid-column: 2;
        grid-row:2;
        background-color: lightgray;
    }
    #img6 {
        grid-column: 3;
        grid-row: 2;
        margin: 10px;
        background-color: lightgray;
    }
    #img7 {
        grid-column: 1;
        grid-row: 3;
        margin: 10px;
        background-color: lightgray;
    }
    #img8 {
        grid-row: 3;
        grid-column: 2;
        margin: 10px;
        background-color: lightgray;
    }
    #img9 {
        grid-row: 3;
        grid-column: 3;
        margin: 10px;
        background-color: lightgray;
    }
    footer img {
        width: 250px;
        padding: 20px;
        padding-left: 100px;
    }
    .hidden {
        display: none;
    }
    #footergrid {
        width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

