body {
    background-color: #CDCAFE;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: black;

}

footer {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 15pt;
}

main {
    box-shadow: 0 0 20px #333;
    color: #403e66;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

h1 {
    color: black;
}

header {
    text-align: center;
    color: black;
    font-weight: bolder;
}

img {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 0 20px #333;
    margin: 0 auto;
}

@media only screen and (min-width:32.5em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
