body {
	margin: 0 auto;
	max-width: 800px;
	font-family: 'Merriweather Sans', sans-serif;
	background-color:white;
	grid-gap: 3em;
	padding: 1em;
	text-align: center;
}
#heading{
    text-align: center;
    background-color: #3C6A75;
    max-width: 100%;
}
#heading img {
    max-width: 10%;
    float: center;
}
body {
    align-items: center;
}
nav {
    margin : 0 auto;
    max-width: 360px;
    background-color: #76B2C2;
}

#navigation {
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child {
    display: block;
}

#navigation li{
    display:none;
}

#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navigation a:hover{
    color:white;
    background-color: black;
}

#navigation.responsive li {
    display:block;
}
main {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #3C6A75;
    max-width: 100%;
    text-align: center;

}
#footer {
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (min-width:34.5em){
    nav{
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(7,auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
        text-align: center;
    }
    #navigation li:first-child {
        display:none;
    }
}

@media only screen and (min-width: 54.5em){
    #navigation {
        width:800px;
        margin:16px auto;
    }
}

