body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.users {
    max-width: 850px;
    width: 35%;
    border-collapse: collapse;
    background-color: #e7f0ed;
    font-size: 14px;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.users #names {
    color: white;
    background-color: #628ca6;
    font-size: large;   
}
.users tr.head {
    background-color: #7fb9c2;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;

}
th {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 0.9em;
}
td {
    padding: 15px 10px;
}
.profile-pic {
    text-align: center;
    padding: 0;
}
tr:not(.head):hover {
    background-color: #7fb9c2;
}
tr:nth-child(2n) {
    background-color: #e7ffed ;
}
.users tr.foot {
    background-color: #7fb9c2;

}