@charset "UTF-8";

body {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    padding: 1em;
  }

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
.screenshots{
	max-width: 200px;
}
#headings{
	text-align: center;
}
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}