body {
	margin: 0 auto;
	max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:white;
	grid-gap: 3em;
	padding: 1em;
	text-align: center;
}
#heading{
    text-align: center;
    background-color: #3C6A75;
    width: 100%;
}
#heading img {
    max-width: 10%;
    float: center;
}
#title {
    padding: 5px;
    font-size:xx-large;
}
body {
    align-items: center;
}
.active {
    background-color: #3C6A75;
}
nav {
    margin : 0 auto;
    max-width: 360px;
    background-color: #76B2C2;
}
.responsive {
    display: block;
}
#navigation {
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: auto;
}
#navigation li:first-child {
    display: block;
}
#navigation li{
    display:none;
}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#navigation a:hover{
    color:white;
    background-color: black;
}
#ban {
    background-color: #fcce36;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: hidden;
    grid-template-columns: auto;
    position: sticky;
    top: 0;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    max-width: 100%;
    padding: 10px;
}
.hidden {
    display: none;
}
.responsive {
    display:block;
}
#boxes {
    display: grid;
    grid-template-rows: auto auto auto auto;
}
main {
    text-align: center;
}
#hero{
    position: relative;
    width: 100%; 
}
.hero-img {
    background-color: #cccccc; 
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#overlay{
    position: relative;
    background-color:#3C6A75;
    grid-column: 2;
    grid-row: 2;
    z-index: 12;
}
#overlay:hover {
    opacity: 1;
}
.middle {
    margin: 0 auto;
}
#boxes1 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #76B2C2;
    list-style: none;
}
#article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background-color: #3c6a759f;
    margin-bottom: 10px;
}
#article p {
    grid-column: 1/2;
    margin: 0 auto;
    padding: 20px;
}
#fishing {
    max-width: 350px;
    grid-column: 2/3;
    margin: 0 auto;
    margin-bottom: 60px;
}

footer{
    background-color: #3C6A75;
}
#footergrid {
    text-align: center;
    max-width: 100%;
    text-align: center;
    list-style: none;
    padding:0;
}
#contact {
    grid-column: 2/3;
    grid-row: 1/2;
}
footer img {
    grid-column: 1/2;
    grid-row: 1/2;
}
.footerBar {
    grid-column: 1/3;
    grid-row: 2/3;
}

/*medium size */ 
@media only screen and (min-width:34.5em){
    nav{
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(6, auto);
        max-width: 1200px;
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus{
        text-align: center;
    }
    #navigation li:first-child {
        display:none;
    }
    .hidden {
        display: none;
    }
    #hero{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        grid-template-rows: auto auto;
        width: 100%; 
    }
    .hero-img {
        background-color: #cccccc; 
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
    #overlay{
        position: relative;
        background-color:#3C6A75;
        opacity: 0.9;
        height: 270px;
        width: 200px;
        margin:40px;
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        z-index: 12;
    }
    #footergrid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

/*full size */
@media only screen and (min-width: 54.5em){
    #navigation, main {
        width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #hero img {
        width: 1200px;
    }
    footer img {
        width: 250px;
        padding: 20px;
        padding-left: 100px;
    }
    .hidden {
        display: none;
    }
    #footergrid {
        width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

