body {
    text-align: center;
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 35px;
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
    background-color: rgb(235, 199, 205);
    padding: 10px;
}
body img {
    width: 60%;
}