@charset "UTF-8";

  body {
	margin: 0 auto;
	max-width: 800px;
	font-family: 'Noto Sans', serif;
	background-color: white;
	grid-gap: 3em;
	padding: 1em;
	text-align: center;
   }

main {
	/*display: grid;*/
	/*grid-template-columns: 1fr;*/
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
.screenshots{
	width: 100%;
}
nav {
    background-color: lightgray;
	text-align: center;
	box-shadow: 0 2px 15px gray;
    padding: 0 15px;
}
nav ul { 
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display: grid;
    /*grid-template-columns: repeat(5, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}
nav ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav h2 {
    border-bottom: 1px solid black;
}
#headings{
    text-align: center;
}

#serifsample{
    font-family: serif;
}

#leftalign{
    text-align: left;
}
#screenshots {
	max-width: 50%;
}

@media only screen and (min-width: 30em) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}
