@charset "UTF-8";

  body {
	margin: 0 auto;
	max-width: 1000px;
	font-family: 'Merriweather Sans', sans-serif;
	background-color: white;
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-gap: 3em;
	padding: 1em;
   }
   #screenshots{
        
    }